In [1]:
import pandas as pd
from gtfs_functions import Feed

from DataStructures.Bus import BusTrip

# trips = pd.read_csv("data/CARTA_GTFS2024/trips.txt")
gtfs_path = "data/CARTA_GTFS.zip"

feed = Feed(gtfs_path)
trips = feed.trips
stops = feed.stops
stop_times = feed.stop_times

INFO:root:accessing trips
INFO:root:Reading "routes.txt".
INFO:root:Reading "trips.txt".
INFO:root:Reading "trips.txt".
INFO:root:computing patterns
INFO:root:_trips is defined in stop_times
INFO:root:Reading "stops.txt".
INFO:root:Reading "stop_times.txt".

In [2]:
stop_times

,trip_id,route_id,route_name,service_id,direction_id,shape_id,arrival_time,departure_time,stop_id,stop_sequence,...,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding,geometry
0,2014020,14,14 Mocs Express,2,0,shp-14-05,26880.0,26880.0,2092,1,...,NaN,35.056154,-85.268708,NaN,NaN,NaN,NaN,NaN,2,POINT (-85.26871 35.05615)
1,2014020,14,14 Mocs Express,2,0,shp-14-05,26930.0,26930.0,2105,2,...,NaN,35.055099,-85.269376,NaN,NaN,NaN,NaN,NaN,2,POINT (-85.26938 35.05510)
2,2014020,14,14 Mocs Express,2,0,shp-14-05,26960.0,26960.0,2044,3,...,NaN,35.054750,-85.270470,NaN,NaN,NaN,NaN,NaN,2,POINT (-85.27047 35.05475)
3,2014020,14,14 Mocs Express,2,0,shp-14-05,27054.0,27054.0,2042,4,...,NaN,35.052190,-85.275030,NaN,NaN,NaN,NaN,NaN,2,POINT (-85.27503 35.05219)
4,2014020,14,14 Mocs Express,2,0,shp-14-05,27134.0,27134.0,2036,5,...,NaN,35.049950,-85.276740,NaN,NaN,NaN,NaN,NaN,2,POINT (-85.27674 35.04995)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40270,1584020,DTS,DTS Downtown Shuttle,2,0,shp-DTS-03,42779.0,42779.0,488,12,...,NaN,35.048522,-85.310436,NaN,NaN,NaN,NaN,NaN,2,POINT (-85.31044 35.04852)
40271,1584020,DTS,DTS Downtown Shuttle,2,0,shp-DTS-03,42834.0,42834.0,1963,13,...,NaN,35.049920,-85.310480,NaN,NaN,NaN,NaN,NaN,2,POINT (-85.31048 35.04992)
40272,1584020,DTS,DTS Downtown Shuttle,2,0,shp-DTS-03,42893.0,42893.0,2170,14,...,NaN,35.051641,-85.310515,NaN,NaN,NaN,NaN,NaN,2,POINT (-85.31051 35.05164)
40273,1584020,DTS,DTS Downtown Shuttle,2,0,shp-DTS-03,42927.0,42927.0,789,15,...,NaN,35.052245,-85.310526,NaN,NaN,NaN,NaN,NaN,2,POINT (-85.31053 35.05224)
40274,1584020,DTS,DTS Downtown Shuttle,2,0,shp-DTS-03,43020.0,43020.0,1565,16,...,NaN,35.054084,-85.311316,NaN,NaN,NaN,NaN,NaN,2,POINT (-85.31132 35.05408)

In [3]:
trip_stops = stop_times.sort_values(by=['trip_id', 'stop_sequence']).groupby('trip_id')['stop_id'].apply(list).to_dict()

In [5]:
trips_list = trips['trip_id'].to_list()
capacity = 50
bus_trips = []

for trip_id in trips_list:
    bus_trip = BusTrip(trip_id, trip_stops[trip_id], capacity)
    bus_trips.append(bus_trip)

In [ ]:

area_name = "Manhattan, New York City, New York, USA"
road_network = get_processed_network(area_name)